
# Private key của ví đầu tiên trên Ganache
WALLET_PRIVATE_KEY=

# RPC URL kết nối tới Local Ganache Node
SEPOLIA_RPC_URL=http://127.0.0.1:8545

# Địa chỉ smart contract vừa deploy tự động
CONTRACT_ADDRESS=


WALLET_PRIVATE_KEY=

SEPOLIA_RPC_URL=
